@charset "utf-8";
@import "../fonts/fonts.css";

$family-primary: "FiraSans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Lora", serif;
$body-family: $family-primary;
$title-family: $family-secondary;

@import "../bulma/bulma.sass";

